/*Formatacoes Basicas */

h1,h2,h3
{
    color: #FF5F00;
}
*{
    padding: 0;
    margin: 0;
}


/* Menu CSS*/
header
{
    display: flex;
    justify-content: space-between;
    background: #FF6A28;
}
header a {
    color: white;
    text-decoration: none;
}

header #logo
{
    text-indent: 30px;
    padding-top: 10px;
    font-size: 1.5em;
    width: 50px;
    height: 50px;

}
header a:hover
{
    color: white;
    text-decoration: underline;
}


header nav ul{
    display: flex;
    padding: 5px;
    list-style: none;
}
header nav ul li
{
    padding: 10px;
    text-transform: uppercase;
    font-size: 1.1em;
    
}
header nav ul li a:hover
{
    text-decoration: underline;
    color: white;
}

/*Receita*/
#Receita h1
{
    margin: 1em auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

 .img-center
{
    display: block;
    margin: 0 auto;
}


/*Modo de preparo*/
.tutorial h2
{
    margin-top: 0.8em;
    text-align: center;
}
.tutorial
{
    
    margin: 1.2em;
    font-size: 1.2em;
    border: 1px solid rgba(0,0,0,0.2);
    background: #f7f5f5;
}
.tutorial li
{
    margin: 1.2em 2em;
}

/* - - - - - - - Sobre - - - - -*/
#sobre 
{
    margin: 2.5em 2em;
}
#sobre p
{
    font-size: 1.5em;
}
.sobre-texto
{
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.sobre-texto h2
{
    margin: 0.5em 0;
    font-size: 2.5em;
    
}

/* Chefe - Formatação*/
#chefe
{
    margin: 3em;
}
#chefe::after
{
    content: "";
    display: table;
    clear: both;
}
.chefe-div
{
    margin: 2em;
}
.chefe-texto h2
{
    text-align: center;
    font-size: 2.5em;
    padding: 1em 0 0.3em 0;
}
.chefe-texto, #container .imagem
{
    float: left;
    
    width: 50%;
}
.chefe-texto p
{
    font-size: 1.5em;
}
.imagem img
{
    width: 50%;
}
/* Caixa -> Outras receitas */

#outras_receitas
{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #fdfafa;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    margin: 2em;
}

#outras_receitas img{
    border-radius: 10%;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#outras_receitas h3{
    margin-top: 0.5em;
    text-align: center;
}

#outras_receitas a{
    color: #FF5F00;
}

#outras_receitas a:hover{
    color: #ffae00;
}

.flex-item {

    flex: content;
    align-items: center;
    margin: 1em;
}

#rodape{
    background: #FF6A28; 
}
#rodape , #rodape h3{
    color: white;
}
.redes_sociais{
    margin: 2em;

    float: left;
}
.redes_sociais a {
    color: white;
    padding: 5px;
}
.contato{
    float: left;
    
    margin: 2em;
}
.contato h3{
    text-align: center;
}

.contato p{
    margin: 0.5em;
}
